absl-py==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
black==26.1.0
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
distlib==0.4.0
fastapi==0.128.7
ffmpy==1.0.0
filelock==3.20.3
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
gradio==6.5.1
gradio_client==2.0.3
groovy==0.1.2
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.4.1
identify==2.6.16
idna==3.11
importlib_resources==6.5.2
iniconfig==2.3.0
# Editable Git install with no remote (jelnyelv==0.1.0)
-e /Users/akos/Desktop/jelnyelvpy
Jinja2==3.1.6
kiwisolver==1.4.9
librt==0.7.8
lightning-utilities==0.15.2
macholib==1.16.4
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.8
mdurl==0.1.2
mediapipe==0.10.32
mpmath==1.3.0
multidict==6.7.1
mypy==1.19.1
mypy_extensions==1.1.0
networkx==3.6.1
nodeenv==1.10.0
numpy==2.4.2
onnxruntime==1.24.1
opencv-contrib-python==4.13.0.92
orjson==3.11.7
packaging==26.0
pandas==2.3.3
pathspec==1.0.4
pillow==10.4.0
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
propcache==0.4.1
protobuf==4.25.8
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
Pygments==2.19.2
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-multipart==0.0.22
pytokens==0.4.1
pytorch-lightning==2.6.1
pytz==2025.2
PyYAML==6.0.3
rich==14.3.2
ruff==0.15.0
safehttpx==0.1.7
semantic-version==2.10.0
setuptools==82.0.0
shellingham==1.5.4
six==1.17.0
sounddevice==0.5.5
starlette==0.52.1
sympy==1.14.0
tomlkit==0.12.0
torch==2.10.0
torchmetrics==1.8.2
tqdm==4.67.3
typer==0.21.2
typer-slim==0.21.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
virtualenv==20.36.1
websockets==12.0
wheel==0.46.3
yarl==1.22.0
